body {
    background-color: black;
    color: white;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    display: flex;
    align-items: center;
    width: 100%;
}


#gojodev {
    width: 50px;
    border: 2px solid black;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    animation-name: zoom;
    animation-iteration-count: infinite;
    animation-duration: 0.5s;
}

.container {
    text-align: center;
    margin: 20px;
}

@keyframes zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}